http:
  routers:
    api-router:
      rule: "Host(`api.localhost`)"
      service: api-service
      entryPoints:
        - web

  services:
    api-service:
      loadBalancer:
        servers:
          - url: "http://api:8000"
