api:
  dashboard: true
  insecure: true

log:
  level: DEBUG
  format: json

accessLog:
  format: json
  filePath: /var/log/traefik/access.log

middlewares:
  retry:
    retry:
      attempts: 3
      initialInterval: "500ms"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
