# .github/workflows/ci.yml
name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: smallziz
          POSTGRES_PASSWORD: dabzo123
          POSTGRES_DB: nextgen
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U smallziz -d nextgen"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgresql+asyncpg://smallziz:dabzo123@localhost:5432/nextgen
      API_V1_STR: /api/v1
      PROJECT_NAME: My blog's backend app
      PROJECT_DESCRIPTION: welcome to the backend of my blog
      SITE_NAME: SMALLZIZ'S BLOG

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade pip setuptools wheel
          pip install uv
          uv sync --frozen
          pip install -e .

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U smallziz; do
            echo "Waiting for postgres..."
            sleep 5
          done

      - name: Run tests
        run: uv run pytest --rootdir=$PWD -q
